<style>
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
</style>
<main class="gallery">
    <%- partial('_partial/categories/gallery', {categoryName}) %>
</main>
