<style>
    .gallery-contents {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-title {
        text-transform: capitalize;
    }
</style>

<%- partial('_partial/menu') %>

<main class="container">
    <div class="row gallery">
        <!-- Main Content -->
        <header class="gallery-title">
            <h1><%- page.category -%></h1>
        </header>
        <div class="gallery-contents">
            <%- partial('_partial/categories/gallery', {categoryName}) %>
        </div>
    </div>
</main>
