<div class="homepage-hero-container">
    <section class="homepage-hero">
    </section>
</div>

<%- partial('_partial/menu') %>

<div class="container">
    <div class="row">

        <!-- Main Content -->
        <div class="col-sm-8 homepage-main">
            <main class="homepage-post">

                <section class="homepage-post-content">
                    <%- main.content %>
                </section>

            </main>
        </div>
    </div>
</div>
