<!-- This template is used to /tags/* and /archives -->
<%- partial('_partial/menu') %>

<div class="container">
    <!-- Blog Header: title and subtitle -->
    <%- partial('_partial/header') %>

    <div class="row">

        <!-- Main Content -->
        <div class="col-sm-8 blog-main">
            <div />
        </div>

    </div>
</div>
