<!-- This template is used to /tags/* and /archives -->
<%  if(page.category === "resume"){ %>
<%-     partial('_partial/categories/latest', {categoryName: page.category}) %>
<%  } else if(page.category === "projects"){ %>
<%-     partial('_partial/category_layouts/gallery_layout', {categoryName: page.category}) %>
<%  } else { %>
        <%- partial('_partial/menu') %>
        <div class="container">
            <div class="row">

                <!-- Main Content -->
                <div class="col-sm-8 blog-main">
                    <div />
                </div>

            </div>
        </div>
<%
    }
%>
